body {
    background-color: rgb(49, 11, 11);
}

.window {
    margin-top: auto;
    margin: auto;
    background-image: url("sp2.jpg");
    width: 1024px;
    height: 300px;
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-top: 300px;
}

.shadow {
    text-shadow: 15px 15px 5px black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkgrey;
}